<a href="https://colab.research.google.com/github/oladimejiala/schisto-project/blob/main-schisto/PSAC_Korede_Analysis_and_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# from sklearn.tree import DecisionTreeClassifier

In [4]:
df = pd.read_csv('/content/drive/MyDrive/koredepsac/psacquant.csv')
df

     indivcoordinate  alt  sex  ...  schistointcode  schistoprescence new_agecode
0    6.71517 4.26692   82    2  ...               0                 2           2
1    6.71517 4.26692   82    2  ...               0                 2           4
2    6.71517 4.26690   82    1  ...               0                 2           2
3    6.71524 4.26660   79    1  ...               0                 2           2
4    6.71524 4.26660   79    2  ...               0                 2           4
..               ...  ...  ...  ...             ...               ...         ...
106  6.71517 4.26692   82    2  ...               4                 1           6
107  6.71550 4.26851   80    1  ...               0                 2           6
108  6.71550 4.26851   80    2  ...               0                 2           5
109  6.71550 4.26851   80    1  ...               3                 1           6
110  6.71448 4.26688  103    1  ...               1                 1           6

[111 rows x 43 columns]

In [ ]:
# biometrics = df.iloc[:, 6:8].values
# egg_count = df.sheggcnt.values
# egg_count

# splitting the dataset into the training and test set

# from sklearn.model_selection import train_test_split

# x_train, x_test, y_train, y_test  = train_test_split(biometrics, egg_count, test_size = 0.2, random_state = 0)

# x_train
# x_test

In [6]:
# using decision tree to make sense out of the urological observations : proteinuria, hematuria, leucocyturia, glycosuria and nitrituria

haem_para = df[['haematuria','glycosuria','proteinuria','leukocyturia']].values # these are other morbidities associated with schistosomiasis
haem_para.reshape(-1,1)
u_schisto = df[['sheggcnt']].values
u_schisto

from sklearn.model_selection import train_test_split


# importing the decision tree model
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(max_depth=4, min_impurity_decrease=5, max_leaf_nodes=10)
model = dtr.fit(haem_para, u_schisto)
# haem_para
pred_schist = dtr.predict([[3,3,3,0]]) # note that the double angular brakets are required for the four predictors to predict new schisto values

# visualizing the the decision tree regression results( higher resolution)
from sklearn import tree
import graphviz
import pydot
import pydotplus
dot_data = tree.export_graphviz(model, out_file=None)
dot_data

graph = pydotplus.graph_from_dot_data(dot_data)

graph.write_pdf("psac_korede.pdf")

True

In [23]:
# This is the multiple linear regression still observing the relationship between these four predictors with schistosomiasis
# N.B that the schistosoma eggcount used here is not normalized
haem_para = df[['haematuria','glycosuria','proteinuria','leukocyturia']].values # these are other morbidities associated with schistosomiasis
haem_para.reshape(-1,1)
u_schisto = df[['sheggcnt']].values
u_schisto

x_train,x_test, y_train, y_test = train_test_split(haem_para, u_schisto, test_size=0.2, random_state=42)

from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr_model = lr.fit(x_train, y_train)

prediction = lr.predict(x_test)
prediction
# plt.scatter(x_test,y_test, color="red")

# Now to know the model accuracy in order to ascertain if its a good model

from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, prediction)
# computing the regression coeficient, mean squared error and the variance score.. N.B variance score 1 is perfect

print(lr.coef_)
print(mse)
print(r2_score(y_test, prediction))

[[21.17199234 11.98799001 10.35852615  9.46719824]]
215072.5244638541
0.05376341563705145