<a href="https://colab.research.google.com/github/oladimejiala/schisto-project/blob/first-branch/PSAC_Korede_Analysis_and_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# from sklearn.tree import DecisionTreeClassifier

In [12]:
df = pd.read_csv('/content/drive/MyDrive/koredepsac/psacquant.csv')
df

     indivcoordinate  alt  sex  ...  schistointcode  schistoprescence new_agecode
0    6.71517 4.26692   82    2  ...               0                 2           2
1    6.71517 4.26692   82    2  ...               0                 2           4
2    6.71517 4.26690   82    1  ...               0                 2           2
3    6.71524 4.26660   79    1  ...               0                 2           2
4    6.71524 4.26660   79    2  ...               0                 2           4
..               ...  ...  ...  ...             ...               ...         ...
106  6.71517 4.26692   82    2  ...               4                 1           6
107  6.71550 4.26851   80    1  ...               0                 2           6
108  6.71550 4.26851   80    2  ...               0                 2           5
109  6.71550 4.26851   80    1  ...               3                 1           6
110  6.71448 4.26688  103    1  ...               1                 1           6

[111 rows x 43 columns]

In [ ]:
biometrics = df.iloc[:, 6:8].values
egg_count = df.sheggcnt.values
egg_count

# splitting the dataset into the training and test set

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test  = train_test_split(biometrics, egg_count, test_size = 0.2, random_state = 0)

x_train
x_test

In [139]:
# using decision tree to make sense out of the urological observations : proteinuria, hematuria, leucocyturia, glycosuria and nitrituria

haem_para = df[['haematuria','glycosuria','proteinuria','leukocyturia']].values # these are other morbidities associated with schistosomiasis
haem_para.reshape(-1,1)
u_schisto = df[['sheggcnt']].values
u_schisto

# importing the decision tree model
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(random_state=0)
model = dtr.fit(haem_para, u_schisto)
# haem_para
pred_schist = dtr.predict([[3,3,3,0]]) # note that the double angular brakets are required for the four predictors to predict new schisto values

# visualizing the the decision tree regression results( higher resolution)
from sklearn import tree
import graphviz
dot_data = tree.export_graphviz(model, out_file='tree.dot')
dot_data

# eig_val, eig_vec = np.linalg.eig([[haem_para]])

In [ ]:
# EDA
def BMI (weight, height):
  for weight in weight:

In [ ]:
# splitting parameters for the prevalence of schistosomiasis among preschool age children